# Non-project-specific build files:
build.xml
#/gradlew
#/gradlew.bat
#/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
build
.gradle/
.idea/
.settings/
bin
gen/
*.apk
*.ap_
*.dex
*.class
*.hprof
.DS_Store
*.properties
*.iml
